BOT_TOKEN=YOUR_BOT_TOKEN
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=auto_media_bot
OWNER_IDS=123456789
WEBHOOK_SECRET=use_a_random_secret_here
DEFAULT_STORAGE_LIMIT=20
DEFAULT_INTERVAL_MINUTES=60
